[Desktop Entry]
Categories=Application;Utility;
Encoding=UTF-8
Exec=gxde-calculator
Icon=gxde-calculator
Name=GXDE Calculator
Name[zh_CN]=极星计算器
Name[zh_TW]=极星计算器
StartupNotify=false
Terminal=false
Type=Application
X-MultipleArgs=false
