Source: gxde-calculator
Section: base
Priority: optional
Maintainer: shenmo <shenmo@spark-app.store>
Build-Depends: debhelper (>= 9), pkg-config, dpkg-dev, qt5-qmake, qtbase5-dev, libdtkwidget2-dev
Standards-Version: 0.1
Homepage: https://github.com/rekols

Package: gxde-calculator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A simple calculator for GXDE.

